html{
    height: 100%;
}

body {
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    min-height: 100%;
    background-color: #2b669a;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h3{
    font-size: 30px;
    color: #fff;
}

.text > h1{
    padding-bottom: 60px;
    font-weight: lighter;
    font-size: 50px;
}

#mainRow{
    padding-bottom: 100px;
}

#banner{
    padding-top: 40px;
}

#navCont{
    margin-top: 50px;
    margin-bottom: 50px;
}

#nav{
    height: 60px;
    max-width: 50%;
    margin: 0 auto;
    background: transparent;
}

#nav ul{
    display: table-row;
    float: none;
    text-align: center;
}
#nav ul li > h3{
    margin-top: 0;
}

#nav > ul > li{
    display: table-cell;
    width: 33%;
    z-index: 2;
}

#nav ul, ul > li, ul > li > h3{
    display: block;
    height: inherit;
    color: #e2e2e2;
    transition: 0.5s ease;
}

#nav > ul > li > h3:hover{
    color: #ffffff;
    transform: scale(1.2);
}

#demoCanvas{
    margin-top: 70px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border-width: 5px;
    border-style: solid;
}
.fadein{
    opacity: 0;
}

.col-lg-12.text{
    padding-top: 70px;
}

p{
    text-align: justify;
    padding-top: 50px;
    font-size: 24px;
}

blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    text-align: center;
    background: transparent;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #e2e2e2;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote cite {
    color: #fff;
    font-size: 20px;
    display: block;
    margin-top: 5px;
    text-align: end ;
}

blockquote cite:before {
    content: "\2014 \2009";
}

/*----media queries---*/

@media (min-width: 544px) {


}

@media (min-width: 768px) {

    .col-lg-12.text{
        padding-top: 70px;
    }

}

@media (min-width: 992px) {

    .col-lg-12.text{
        padding-top: 100px;
    }

    #banner{
        padding-top: 120px;
    }
}

@media (min-width: 1200px) {
    .col-lg-12.text{
        padding-top: 150px;
    }

    #mainRow{
        padding-bottom: 200px;
    }

    #banner{
        padding-top: 150px;
    }
    #demoCanvas{
        margin-top: 130px;
    }
}